body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}
.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
    border: 10px solid rgba(144, 177, 220, 0.871); /* Border around the entire page */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Shadow for a floating effect */
}
.side-text {
    flex: 1; /* Take up available space */
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; /* Change to desired text color */
}

.calculator {
    width: 400px;
    height: 450px;
    padding: 20px;
    background-color: rgba(144, 177, 220, 0.871);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 auto;

}
.left-side {
    padding-right: 10px;
}

.right-side {
    padding-left: 10px;
}
h1 {
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 5px;
    background: linear-gradient(45deg, #a73696, #e05db4, #145191, #091055);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    animation: gradientAnimation 10s ease infinite;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h2{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #091055;
    text-align: center;
}
#display {
    width: 100%;
    height: 80px; /* Adjusted height for two rows */
    background-color: #f9f9f9;
    border: none;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide scrollbars */
    font-family: inherit; /* Match font style with buttons */
}

.year-box {
    grid-column: span 3; /* Span across three columns */
    display: inline-block;
    height: 60px;  /* Adjust the height as needed */
    border: 2px solid #293285; /* Border to make it look like a table cell */
    font-size: 30px;
    text-align: center;
    line-height: 60px; /* Vertically center the text */
    background-color: #007bff;
    color: white;
    border-radius: 5px; /* Optional: rounded corners */
    box-sizing: border-box;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #0056b3;
}
